# Change .env.local to .env to use these variables

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL = /sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL = /sign-up


# Connect to Supabase via connection pooling.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

ARCJET_KEY=

GEMINI_API_KEY = 

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=